
    .add_page{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        .container{
            width: 30%;
            height: 400px;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 25px;
            border-radius: 10px;
            background:  linear-gradient(to left, #67acd7,#294150 );
            box-shadow: 0px 0px 5px 0px black;
            h3{
                color: #f3f6f7;
                
            }
            .input{
                width: 80%;
                height: 15%;
                padding-left: 5px;
                font-size: 25px;
                outline: none;
            }
            button{
                width: 35%;
                height: 12%;
                background-color: #f4f1ee;
                color: rgb(16, 15, 15);
                font-size: large;
                transition-duration: 200ms;
                transition-property: width,background-color,color,box-shadow,border-radius; 
            };
            button:hover{
                width: 60%;
                height: 12%;
                background-color: #1b3a44;
                border-radius: 10px;
                color: white;
                box-shadow: 0px 0px 4px 0px rgb(201, 209, 209);
            };
        };
    };    




